@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  font-size: 1rem;
  display: block;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.conteiner {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  color: #fb1;
  border-radius: 0.2rem;
  position: absolute;
  bottom: 5px;
  left: -5px;
  z-index: -1;
}


.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}